<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Register here</h2>
	
	<div th:if="${successMsg}">
		<h3 style="color: green;" th:text="${successMsg}"></h3>
	</div>
	
	<div th:if="${errorMsg}">
		<h3 style="color: red;" th:text="${errorMsg}"></h3>
	</div>
	
	<form th:action="@{/regForm}" th:object="${user}" method="post">
		Name: <input type="text" th:field="*{name}"/> <br> <br>
		Email Id: <input type="email" th:field="*{email}"/> <br> <br>
		Password: <input type="password" th:field="*{password}"/> <br> <br>
		Phone No.: <input type="text" th:field="*{phone}"/> <br> <br>
		<input type="submit" value="Register">
	</form>
	
	<br>
	<br>
	
	<a href="index.html">Home</a>
	&nbsp;
	<a href="loginPage">Login</a>
</body>
</html>